<meta charset="UTF-8">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css">    
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css"> 
    <title>
       Book-Info
    </title>

<header>
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
        <a href="{% url 'sinf' %}" class="inline-flex items-center bg-slate-950 border-0 py-3 px-10 focus:outline-none hover:bg-red-500 hover:scale-110 transition duration-500 ease-in-out rounded-full text-gray-50 mt-4 md:mt-0">Go Back</a>
      </div>
</header>

<section class="text-gray-600 body-font relative">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-col text-center w-full mb-12">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Book Info</h1>
        <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Whatever cardigan tote bag tumblr hexagon brooklyn asymmetrical gentrify.</p>
      </div>
      {% for s in Status %}
      <div class="lg:w-1/2 md:w-2/3 mx-auto">
        <div class="flex flex-wrap -m-2">
          <div class="p-2 w-1/2">
            <div class="relative">
              <label for="name" class="leading-7 text-sm text-gray-600">Name</label>
              <h3 type="text" id="name" name="name" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"> {{s.Customer_Name}} </h3>
            </div>
          </div>
          <div class="p-2 w-1/2">
            <div class="relative">
              <label for="email" class="leading-7 text-sm text-gray-600">Room_No</label>
              <h3 type="email" id="email" name="email" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"> {{s.Room_No}}</h3>
            </div>
          </div>
          <div class="p-2 w-1/2">
            <div class="relative">
              <label for="message" class="leading-7 text-sm text-gray-600">Booking Status</label>
              <h3 id="message" name="message" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">{{s.status}}</h3>
            </div>
          </div>
          {% endfor %}  

          {% for r in Rooms %}
          <div class="p-2 w-1/2">
            <div class="relative">
              <label for="message" class="leading-7 text-sm text-gray-600">Room_Type</label>
              <h3 id="message" name="message" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"> {{r.capacity}} Bed {{r.Room_Type}}</h3>
            </div>
          </div>
          <div class="p-2 w-1/2">
            <div class="relative">
              <label for="message" class="leading-7 text-sm text-gray-600">Fee</label>
              <h3 id="message" name="message" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">Rs.{{r.Room_Price}} /-</h3>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>